{% extends 'base.html' %}

{% block title %}Batch Prediction{% endblock %}

{% block content %}

<div class="row justify-content-center mb-5">
    <div class="col-lg-8 text-center">
        <h1 class="section-title">
            <i class="bi bi-images"></i> Batch Upload
        </h1>
    </div>
</div>


<div class="row">

    <!-- Upload -->
    <div class="col-lg-6 mb-4">
        <div class="card">
            <div class="card-body p-4">

                <form method="POST" enctype="multipart/form-data" id="batchForm">
                    {% csrf_token %}

                    <div class="upload-area text-center p-5" id="batchUploadArea">
                        <i class="bi bi-cloud-arrow-up icon-lg"></i>
                        <p><strong>Upload Multiple Images</strong></p>
                    </div>

                    <input type="file" multiple name="images" id="batchInput" class="d-none" required>

                    <div id="filesList" class="hidden mt-3"></div>

                    <button class="btn btn-primary w-100 mt-4">Process All</button>
                </form>

            </div>
        </div>
    </div>


    <!-- Results -->
    <div class="col-lg-6 mb-4">
        <div id="batchResultsCard" class="card hidden">
            <div class="card-body">
                <div id="batchResultsContent"></div>
            </div>
        </div>
    </div>

</div>


<script>
const area = document.getElementById('batchUploadArea');
const input = document.getElementById('batchInput');
const list = document.getElementById('filesList');

area.onclick = () => input.click();

input.onchange = () => {
    list.innerHTML = '';
    list.classList.remove('hidden');

    for (let f of input.files) {
        const div = document.createElement('div');
        div.className = 'file-item';
        div.innerText = f.name;
        list.appendChild(div);
    }
};
</script>

{% endblock %}
